{% extends "review_inventory.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'gl_site/css/via.css' %}" />

{% endblock %}

{% block review_content %}
<p>This inventory presents your <span class="signature">signature strengths</span>. The idea is the more you use your signature strengths in your personal and professional lives the more you increase your well-being. There are ten virtues in total and the top three are called your signature strengths. <a target="_blank" href="http://www.viacharacter.org/www/">Learn more</a></p>

<ol>
    {% for obj in strengths %}
        <li>
            <span
                {% if obj.is_signature %}
                    class="signature"
                {% endif %}
            />
            {{ obj.strength }}</span>
            - ({{ obj.score}})

        </li>
    {% endfor %}
</ol>
{% endblock %}
