coverage==3.7.1
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.8.2
django-ckeditor==5.3.0
django-js-asset==0.1.1
django-toolbelt==0.0.1
gunicorn==19.7.1
psycopg2==2.7.3.1
pystache==0.5.4
static==1.0.2
static3==0.7.0
uuid==1.30
whitenoise==1.0.6
XlsxWriter==0.9.9
