coverage==4.5.3
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.20
django-ckeditor==5.7.1
django-js-asset==1.2.2
django-toolbelt==0.0.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
psycopg2==2.8.2
pystache==0.5.4
pytz==2019.1
sqlparse==0.3.0
static==1.1.1
static3==0.7.0
uuid==1.30
whitenoise==4.1.2
XlsxWriter==1.1.8
