{% extends "take_inventory.html" %}

{% block description %}
<p>
    Read the statements about the major in which you are currently enrolled. You may consider major/career field as having the same meaning as occupation, profession, or vocation.
</p>
Answer codes:
<table class="answer-codes">
    <tr>
        <td class="code">DS</td>
        <td>Disagree strongly</td>
    </tr>
    <tr>
        <td class="code">D</td>
        <td>Disagree</td>
    </tr>
    <tr>
        <td class="code">N</td>
        <td>Neutral</td>
    </tr>
    <tr>
        <td class="code">A</td>
        <td>Agree</td>
    </tr>
    <tr>
        <td class="code">AS</td>
        <td>Agree strongly</td>
    </tr>
</table>
<br />
{% endblock %}
