{% load staticfiles %}

<!doctype HTML>
<html>
    <head>
        <title>
            LEAD Lab - {% block title %}{% endblock %}
        </title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'gl_site/css/base.css' %}" />

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script src="{% static 'gl_site/js/base.js' %}"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Navbar Header -->
                <div class="navbar-header">
                    <!-- Navbar Toggles -->
                    <div class="pull-right">
                        <!-- User Toggle -->
                        <div class="pull-left">
                            {% if user.is_authenticated %}
                                <span class="sr-only" for="#username-dropdown">Show user settings</span>
                                <a class="navbar-text navbar-toggle" id="#username-dropdown"  data-target="#collapse-2">{{user.username }} <span class="glyphicon glyphicon-cog"></span></a>
                            {% else %}
                                <p class="navbar-text visible-xs">Not logged in</p>
                            {% endif %}
                        </div>
                        <!-- Links toggle, commented till we have use of it -->
                        <div class="pull-right">
                            <button type="button" class="navbar-toggle" data-target="#navbar-links-list">
                                <span class="sr-only">Show links</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                    <!-- Navbar Brand -->
                    <a class="navbar-brand" href="{% url 'dashboard' %}"><span><img height="40px" width="30px" class="navbar-logo pull-left" src="{% static 'gl_site/images/logo.png' %}"/><p class="navbar-text">Home</p></span></a>
                </div>
                <!-- Inner Navbar -->
                <nav class="navbar-inverse navbar-slide" role="navigation">
                    <!-- Navbar Links, commented till we have use of it -->
                    <div class="collapse navbar-collapse navbar-left" id="navbar-links-list">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'view_statistics' %}">Statistics</a></li>
                        </ul>
                    </div>

                    <!-- User dropdown/slideout menu -->
                    {% if user.is_authenticated %}
                        <div class="collapse navbar-collapse navbar-right" id="collapse-2">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Dropdown hidden on mobile -->
                                <li class="dropdown hidden-xs">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'account-settings' %}">Account Settings</a></li>
                                        <li><a href="{% url 'logout' %}">Log out</a></li>
                                    </ul>
                                </li>
                                <!-- Links only visible on mobile -->
                                <li class="visible-xs"><a href="{% url 'account-settings' %}">Account Settings</a></li>
                                <li class="visible-xs"><a href="{% url 'logout' %}">Log out</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <!-- Not logged in replacement text -->
                        <p class="navbar-text navbar-right hidden-xs">Not logged in</p>
                    {% endif %}
                </nav>
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>
