{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Home {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'gl_site/css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'logo_heading.html' %}

        {% if messages %}
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row inventory-row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Inventories</span>
                        <a class="visible-xs pull-right" onclick="rotateChevron($(this))" data-toggle="collapse" href="#inventories-collapse"><span class="glyphicon glyphicon-chevron-up visible-xs-icon"></span></a>
                    </div>
                    <div class="panel-collapse collapse collapse-xs in" id="inventories-collapse">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel-body">
                                    <p>{{ inventory_desc }} </p>

                                    <p>
                                        <b>Attention</b> <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;
                                        {{ mental_health_warning }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <table class="table inventory-table">
                                    {% for entry in inventories %}
                                    <tr>
                                        <td class="name">{{ entry.name }}</td>
                                        <td class="take">
                                            {% if entry.is_complete %}
                                            <span class="glyphicon glyphicon-ok"></span>
                                            {% else %}
                                            <a href="inventory/take/{{ entry.inventory_id }}">
                                                {% if entry.is_started %}
                                                Continue
                                                {% else %}
                                                Take
                                                {% endif %}
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td class="review">
                                            {% if entry.is_complete %}
                                            <a href="inventory/review/{{ entry.inventory_id }}">View results</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">{{ about_panel_title }}</span>
                    <a class="visible-xs pull-right" onclick="rotateChevron($(this))" data-toggle="collapse" href="#about-collapse"><span class="glyphicon glyphicon-chevron-up visible-xs-icon"></span></a>
                </div>
                <div class="panel-body panel-collapse collapse collapse-xs in" id="about-collapse">
                    {{ about_panel_contents|safe }}
                </div>
            </div>
        </div>
        </div>

        <div class="row carousel-row">
            <div class="col-md-offset-2 col-md-8">
                <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="15000">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for quote in quotes %}
                        <div class="item {% if forloop.counter == 1 %} active {% endif %}">
                            <div class="carousel-content-placeholder"></div>
                            <div class="carousel-caption">
                                {{ quote }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
