{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-5 text-center">
                <h1>L.E.A.D. Home Page</h1>
                {% if messages %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>View Inventories</span>
                        <a class="visible-xs pull-right" onclick="rotateChevron($(this))" data-toggle="collapse" href="#inventories-collapse"><span class="glyphicon glyphicon-chevron-up visible-xs-icon"></span></a>
                    </div>
                    <div class="panel-collapse collapse collapse-xs in" id="inventories-collapse">
                        <div class="panel-body">
                            <p>Take an inventory which you haven't taken yet, or view the results from one you have.</p>

                            <p>
                                <b>Attention</b> <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;
                                If you are depressed or experiencing other mental distress then these inventories
                                will not be useful for you.
                            </p>
                        </div>
                        <table class="table inventory-table">
                            {% for entry in inventories %}
                                <tr>
                                    <td class="name">{{ entry.name }}</td>
                                    <td class="take">
                                    {% if entry.is_complete %}
                                        <span class="glyphicon glyphicon-ok"></span>
                                    {% else %}
                                        <a href="inventory/take/{{ entry.inventory_id }}">
                                            {% if entry.is_started %}
                                                Continue
                                            {% else %}
                                                Take
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                    </td>
                                    <td class="review">
                                    {% if entry.is_complete %}
                                        <a href="inventory/review/{{ entry.inventory_id }}">View results</a>
                                    {% endif %}
                                    </td>
                                </tr>
                             {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>On Leadership</span>
                        <a class="visible-xs pull-right" onclick="rotateChevron($(this))" data-toggle="collapse" href="#panel2-collapse"><span class="glyphicon glyphicon-chevron-up visible-xs-icon"></span></a>
                    </div>
                    <div class="panel-collapse collapse collapse-xs in" id="panel2-collapse">
                        <div class="panel-body">
                            Leadership is more than the leader. Most professional development focuses on leader development. However, it is just as important to consider followers and the contexts when learning about leadership. The LEAD Lab emphasizes all three parts of the Leadership Triangle.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>About the LEAD Lab</span>
                        <a class="visible-xs pull-right" onclick="rotateChevron($(this))" data-toggle="collapse" href="#panel3-collapse"><span class="glyphicon glyphicon-chevron-up visible-xs-icon"></span></a>
                    </div>
                    <div class="panel-collapse collapse collapse-xs in" id="panel3-collapse">
                        <div class="panel-body">
                            LEAD stands for Learn, Evaluate, Assess, and Develop. Effective leaders engage in all of these activities. The <b><i>lab</i></b> emphasizes that learning about leadership is experimental. You will make mistakes. However, labs are meant for experimentation to figure out what works. One leadership scholar Dr. Padilla has said that leadership cannot be taught but it can be learned.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span>LEAD Lab I</span>
                        <a class="visible-xs pull-right" onclick="rotateChevron($(this))" data-toggle="collapse" href="#panel4-collapse"><span class="glyphicon glyphicon-chevron-up visible-xs-icon"></span></a>
                    </div>
                    <div class="panel-collapse collapse collapse-xs in" id="panel4-collapse">
                        <div class="panel-body">
                            Lead Lab I is a pilot program this fall. There are a series of leadership coaching sessions to help you, as emerging leaders, develop your self awareness, recognize leader preferences in others, and to have an appreciation of all three elements in the leadership triangle (leader, followers, contexts).<br /><br />
                            <table class="table">
                                <tr>
                                    <td>9.29.14</td><td>Lead Lab 1 – The Leader: Understanding self to understand others.</td>
                                </tr>
                                <tr>
                                    <td>10.13.14</td><td>Lead Lab 2 – Leadership in STEM: Process not a Person.</td>
                                </tr>
                                <tr>
                                    <td>10.20.14</td><td>Lead Lab 3 – Leadership in Practice.</td>
                                </tr>
                                <tr>
                                    <td>10.29.14</td><td>Lead Lab 4 – Leading from Strengths.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="10000">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for quote in quotes %}
                        <div class="item {% if forloop.counter = 1 %} active {% endif %}">
                            <div class="carousel-content-placeholder"></div>
                            <div class="carousel-caption">
                                {{ quote }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
