{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Home {% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'gl_site/css/dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'logo_heading.html' %}

        {% if messages %}
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row inventory-row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Inventories</span>
                        <a class="visible-xs pull-right" onclick="rotateChevron($(this))" data-toggle="collapse" href="#inventories-collapse"><span class="glyphicon glyphicon-chevron-up visible-xs-icon"></span></a>
                    </div>
                    <div class="panel-collapse collapse collapse-xs in" id="inventories-collapse">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="panel-body">
                                    <p>Take an inventory which you haven't taken yet, or view the results from one you have.</p>

                                    <p>
                                        <b>Attention</b> <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;
                                        If you are depressed or experiencing psychological distress then these inventories may not
                                        be useful for you at this time. Please contact your LEAD Lab coach for referral to a counselor.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <table class="table inventory-table">
                                    {% for entry in inventories %}
                                    <tr>
                                        <td class="name">{{ entry.name }}</td>
                                        <td class="take">
                                            {% if entry.is_complete %}
                                            <span class="glyphicon glyphicon-ok"></span>
                                            {% else %}
                                            <a href="inventory/take/{{ entry.inventory_id }}">
                                                {% if entry.is_started %}
                                                Continue
                                                {% else %}
                                                Take
                                                {% endif %}
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td class="review">
                                            {% if entry.is_complete %}
                                            <a href="inventory/review/{{ entry.inventory_id }}">View results</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">About LEAD</span>
                    <a class="visible-xs pull-right" onclick="rotateChevron($(this))" data-toggle="collapse" href="#about-collapse"><span class="glyphicon glyphicon-chevron-up visible-xs-icon"></span></a>
                </div>
                <div class="panel-body panel-collapse collapse collapse-xs in" id="about-collapse">
                    Lorem ipsum dolor sit amet, oblique petentium assueverit eos id, his choro dicunt ex. Liber patrioque cum cu. Nam ut tractatos similique, eum ea alia disputationi. Facete utamur albucius id est, te eum nostrum fierent assentior. Pro ad viris deterruisset.

Viris oportere volutpat vis eu. Ut ius nominati indoctum elaboraret. Ne iusto nostrum fastidii nam. Malorum explicari definitiones no ius. At bonorum conceptam vis.

Nusquam vulputate adversarium mea ne, pri et ferri quodsi sententiae. Tempor tritani convenire cu vim. Periculis hendrerit has at, consulatu vituperatoribus has cu. Ex qualisque dignissim sadipscing est, pro dolores ancillae definitiones at, et prompta lucilius sed.

An erat affert iuvaret eum, no eum nonumy blandit constituam. Duo lobortis petentium ad. Erant feugait denique eum ut, eos et falli legendos. Suscipit pertinacia per et, tota regione vituperatoribus cum ad, homero facete suscipit vis no. No mandamus pertinacia accommodare nam, cum et nobis oportere.

Usu ponderum elaboraret assueverit ea, in mea suscipit apeirian, habeo disputando efficiantur ad eum. Mutat gloriatur cotidieque has ad, eu quas justo facilis has. Ex prompta consulatu mea. Ferri mucius aliquando pro at. Mea timeam fabulas platonem cu, meliore voluptua aliquando est no.
                </div>
            </div>
        </div>
        </div>

        <div class="row carousel-row">
            <div class="col-md-offset-2 col-md-8">
                <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="15000">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for quote in quotes %}
                        <div class="item {% if forloop.counter = 1 %} active {% endif %}">
                            <div class="carousel-content-placeholder"></div>
                            <div class="carousel-caption">
                                {{ quote }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
