{% extends "take_inventory.html" %}

{% block title %}
Big Five
{% endblock %}

{% block description %}
The Big Five are Dr. Peepee, Mango, Mew2King, Armada, and Hungrybox. This description should probably be rewritten at some point.
<br /><br />
Answer codes:
<table class="answer-codes">
    <tr>
        <td class="code">DS</td>
        <td>Disagree strongly</td>
    </tr>
    <tr>
        <td class="code">DM</td>
        <td>Disagree moderately</td>
    </tr>
    <tr>
        <td class="code">DL</td>
        <td>Disagree a little</td>
    </tr>
    <tr>
        <td class="code">N</td>
        <td>Neither agree nor disagree</td>
    </tr>
    <tr>
        <td class="code">AL</td>
        <td>Agree a little</td>
    </tr>
    <tr>
        <td class="code">AM</td>
        <td>Agree moderately</td>
    </tr>
    <tr>
        <td class="code">AS</td>
        <td>Agree strongly</td>
    </tr>
</table>
<br />
{% endblock %}


