{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'gl_site/js/equalHeight.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'gl_site/css/user_info.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 page-heading">
                {% block page_heading %}
                {% endblock %}
            </div>
        </div>
        {% block before_form %}
        {% endblock %}

        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <fieldset class="lead-panel equal-height">
                        <legend class="legend">User Information</legend>
                        <div>
                            {% for field in user_form %}
                                <div class="form-group {% if field.errors %} has-error {% endif %}">
                                    <label class = "control-label"> {{ field.label }} </label>
                                    <span class = "form-control-feedback"> {{ field.errors }} </span>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset class="lead-panel equal-height">
                        <legend class="legend">Demographics</legend>
                        <div>
                            {% if info_form.non_field_errors %}
                                {% for error in info_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% for field in info_form %}
                                <div class="form-group {% if field.errors %} has-error {% endif %}">
                                    <label class = "control-label"> {{ field.label }} </label>
                                    <span class = "form-control-feedback"> {{ field.errors }} </span>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="bottom-popover-container-wrapper">
                            <div class="bottom-popover-container">
                                <a class="popover-toggle" data-placement="top"
                                    data-content="We collect demographic information for data analysis purposes only.
                                    This enables us to make comparisons based on gender, major, .etc.
                                    We won't share your data with anyone outside of your organization. When creating informational
                                    reports from your organization's data, we'll do our best to keep you anonymous.">
                                    Why demographics? <span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            {% block after_form %}
            {% endblock %}

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="lead-panel text-center button-panel">
                        <div class="btn-group">
                            <input type="button" class="btn btn-default" onclick="location.href='/'" value="Cancel"/>
                            <input class="btn btn-default" type="submit" value="{% block submit_button %}{% endblock %}"/>
                        </div>

                        {% block more_buttons %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
