{% extends "base.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="container page-login">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 title">
            <img height="48px" width="36" src="{% static 'gl_site/images/logo.png' %}" />
            <div>LEAD Lab</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            <div class="login lead-panel">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <p>
                        <label>Username</label><br />
                        <input name="username" type="text" class="form-control" />
                    </p>
                    <p>
                        <label>Password</label><br />
                        <input name="password" type="password" class="form-control">
                    </p>
                    <p>
                        <input class="btn btn-default" type="submit" value="Login">
                    </p>
                    <!-- <p class="reset-password">
                        <a href="{% url 'reset_password_page' %}">Forgot your password?</a>
                    </p> -->
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <div class="register lead-panel">
                <p>Don't have an account?</p>
                <p>
                    Please register by following the link provided by your organization.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
