{% extends "base.html" %}
{% block title %} Change Password {% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{% url 'password' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <fieldset class="lead-panel">
                        <legend class="legend">Password</legend>
                        <div>
                            
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error }} 
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% for field in form %}
                                <div class="form-group {% if field.errors %} has-error {% endif %}">
                                    <label class = "control-label"> {{ field.label }} </label>
                                    <span class = "form-control-feedback"> {{ field.errors }} </span>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            
                            <a class="btn btn-default" href="{% url 'account-settings' %}">Cancel</a>
                            <input class="btn btn-default" type="submit" value="Change Password"/>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
{% endblock %}