.panel
{
    border-color: #ccc;
}

.logo-heading
{
    padding-bottom: 8px;
}

.inventory-row
{
    padding-top: 5px;
}

.inventory-table
{
    margin: -1px 0 0 -1px;
    border-left: 1px solid #ddd;
}

.inventory-table .name
{
    width: 50%;
}

.inventory-table .take
{
    width: 20%;
}

.inventory-table .review
{
    width: 30%;
}

.inventory-table .take, .inventory-table .review
{
    text-align: center;
}

/******Quote Carousel******/
.carousel-row
{
    padding-top: 15px;
}

.carousel-inner {
    height:150px;
    background-image: url('../images/background.jpeg');
}
.carousel-content-placeholder {
    height:150px;
}
.carousel-control {
    background-image:none;
}
/**************************/
