/***** Button panel *****/
.lead-panel.button-panel
{
    padding: 10px;
}

.button-panel .btn-group, .button-panel .more-buttons
{
    margin: 10px;
}

/***** Container for "why demographics?" anchor *****/
.bottom-popover-container {
    position:absolute;
    bottom:15px;
    width: 65%;
}
.bottom-popover-container-wrapper {
    margin-top:30px;
}
