{% extends "review_inventory.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/css/slider.css' %}" />
    <script src="{% static 'app/js/slider.js' %}"></script>
    
{% endblock %}

{% block review_content %}
<script>
$(document).ready(function(){
    initSliders()
})
</script>

<div class="inventory-review-page">
    {% for datum in metric_data.values %}
        <div class="metric-container">
            <div class="label-left">
                {{ datum.labels.0 }}
            </div>
            <div class="label-right">
                {{ datum.labels.1 }}
            </div>
            
            {{ datum.slider.render }}
        </div>
    {% endfor %}
</div>
{% endblock %}


