{% extends "review_inventory.html" %}
{% load static %}

{% block review_content %}
<div class="review-big-five">
    {% for metric in metrics %}
        <div>
            <div class="label-left">
                {{ metric.labels.0 }}
            </div>
            <div class="label-right">
                {{ metric.labels.1 }}
            </div>
            <div class="scale">
                <img src="{% static 'app/scale.png' %}" />
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


