{% extends "review_inventory.html" %}

{% block review_content %}
<div class="inventory-review-page">
    <p>The Big Five refers to five personality traits that are fairly stable over your life. These traits are preferences that influence how you behave across situations and contexts.</p>

    <p>
        Receive more detailed feedback on the Big Five by following this
        <a target="_blank" href="http://similarminds.com/personality_tests.html">link</a>.
        Look down the column to the header ‘Big 5 / Global 5’ and take either the Big Five Short Form or Big 45 test (for an even more detailed analysis).
    </p>

    <p>Want to know more? <a target="_blank" href="http://en.wikipedia.org/wiki/Big_Five_personality_traits">Big Five on Wikipedia</a></p>
    {% for slider_container in slider_containers %}
        {{ slider_container.render }}
    {% endfor %}
</div>
{% endblock %}
