{% extends "review_inventory.html" %}

{% block review_content %}
<div class="inventory-review-page">
<p>The Core Self Evaluation Scale was developed by combining several important personality traits (specifically self esteem, locus of control, self-efficacy, and emotional stability) that predict job performance and outcomes.</p>

<p>Self esteem is how you feel about yourself while self efficacy is your ability to accurately estimate your abilities. Locus of control refers to the extent to which you believe you have control over what happens to you. Emotional stability is one of the Big Five traits and refers to how much you are anxious or not. Higher scores mean you are think well of yourself, accurately estimate your abilities, believe you have some control over what happens to you and are calm and relaxed in most settings.</p>

<p>Want to know more? 
<a target="_blank" href="http://en.wikipedia.org/wiki/Core_self-evaluations">Core Self Evaluation Scale on Wikipedia</a></p>

    {{ slider.render }}
    <br />
    <br />
</div>
{% endblock %}


