{% extends "review_inventory.html" %}

{% block review_content %}
<table class="results-table">
    <tr class="header-row hidden-xs">
        {% for label in column_labels %}
            <td>
                {{ label }}
            </td>
        {% endfor %}
    </tr>
    {% for label, row in rows %}
        <tr>
            <td class="row-label hidden-xs">
                <p>{{ label }}</p>
            </td>
            {% for col in row %}
                <td {% if forloop.parentloop.counter == rows|length %} colspan="4" {% endif %}>
                    <table class="section-table">
                        <tr>
                            <th>
                                {{ col.head }}
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <span class="results-value">
                                    Score: {{ col.value }} -
                                </span>
                                <span class="results-descriptor">
                                    {% if col.value < col.breakpoints.lower %}
                                        Low
                                    {% elif col.value < col.breakpoints.upper %}
                                        Medium
                                    {% else %}
                                        High
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                range: {{ col.range }}
                            </td>
                        </tr>
                    </table>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
