{% extends "review_inventory.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/css/via.css' %}" />

{% endblock %}

{% block review_content %}
<p>The following list shows your personal strengths. The first three in the list are your <span class="signature">signature strengths</span>. For each character trait, your numeric score is shown in parenthesis. These scores indicate the extent to which you exhibit the given character trait.</p>

<ol>
    {% for obj in strengths %}
        <li>
            <span
                {% if obj.is_signature %}
                    class="signature"
                {% endif %}
            />
            {{ obj.strength }}</span>
            - ({{ obj.score}}) 
            
        </li>
    {% endfor %}
</ol>
{% endblock %}


