{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Statistics
{% endblock %}

{% block head %}
    <script src="{% static 'gl_site/js/d3plus.v1.7.4/js/d3.min.js' %}"></script>
    <script src="{% static 'gl_site/js/d3plus.v1.7.4/js/d3plus.min.js' %}"></script>
    <script src = "{% static 'gl_site/js/statistics.js' %}"></script>
    <script src="{% static 'gl_site/js/equalHeight.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <fieldset class="lead-panel equal-height">
                    <legend class="legend">
                        View Statistics
                    </legend>
                    <form id="statistics_request_form" action="{% url 'load_data' %}" method="get">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <input type="submit" class="form-control btn btn-default" value="View"/>
                    </form>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset class="lead-panel equal-height">
                    <legend class="legend">
                        Download Statistics
                    </legend>
                    <form id="statistics_download_form" action="{% url 'download_data' %}" method="get">
                        {% csrf_token %}
                        {% for field in downloads.visible_fields %}
                            <div class="form-group ">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% for field in downloads.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        <br />
                        <input type="submit" class="form-control btn btn-default" value="Download"/>
                    </form>
                    <div class="bottom-popover-container-wrapper">
                        <div class="bottom-popover-container">
                            <a class="popover-toggle" data-toggle="popover"
                                tabindex="0" role="button"
                                data-trigger="focus"
                                data-html="true"
                                data-content="The statistics page displays information for all
                                inventories in the organizations that you have access to. Within
                                an organization, you may choose to show statistics for any particular
                                session, or all of them. <br /><br />
                                For security, all metrics are anonymous. We do not display
                                information for inventories if there are less than 10 data points
                                available. If you are a program coordinator and would like to request
                                this data, please contact a member of the Lead staff. <br /><br />
                                Downloads will contain all data in the currently selected data set.
                                For convenience, data is provided in both Excel and JSON formats.">
                                About Statistics <span class="glyphicon glyphicon-info-sign"></span></a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div id="statistics-messages" class="col-md-offset-2 col-md-8">

            </div>
        </div>
        <div class="row">
            <div id="graph-column" class="col-md-offset-2 col-md-8">
                <div class="lead-panel">
                    <select id="inventory-selection" class="form-control"></select>
                    <!-- Base div each inventory graph is appended to -->
                    <div id="graphs" class="margin-top-20-px"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div id="analysis" class="lead-panel">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
