{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Statistics
{% endblock %}

{% block head %}
    <script src="http://www.d3plus.org/js/d3.js"></script>
    <script src="http://www.d3plus.org/js/d3plus.js"></script>
    <script src = "{% static 'gl_site/js/statistics.js' %}"></script>
    <script src="{% static 'gl_site/js/equalHeight.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <fieldset class="lead-panel equal-height">
                    <legend class="legend">
                        View Statistics
                    </legend>
                    <form id="statistics_request_form" action="{% url 'load_data' %}" method="get">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <input type="submit" class="form-control btn btn-default" value="View"/>
                    </form>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset class="lead-panel equal-height">
                    <legend class="legend">
                        Download Statistics
                    </legend>
                    <form id="statistics_download_form" action="{% url 'download_data' %}" method="get">
                        {% csrf_token %}
                        {% for field in downloads.visible_fields %}
                            <div class="form-group ">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        {% for field in downloads.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        <br />
                        <input type="submit" class="form-control btn btn-default" value="Download"/>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div id="statistics-messages" class="col-md-offset-2 col-md-8">

            </div>
        </div>
        <div class="row">
            <div id="graph-column" class="col-md-offset-2 col-md-8">
                <div class="lead-panel">
                    <select id="inventory-selection" class="form-control"></select>
                    <!-- Base div each inventory graph is appended to -->
                    <div id="graphs" class="margin-top-20-px"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
