body {
    padding-top:70px;
}

.navbar-logo-image 
{
    height: 28pt;
    margin: 4pt 0;
}

.navbar-logo-text 
{
    color:#F33 !important;
    margin-left: 4pt;
}

.no-right-margin {
    margin-right:0;
}

.pointer {
    cursor:pointer;
}

.inline {
    display:inline-block;
}

.text-center {
    text-align:center;
}

.page-login .title
{
    font-size: 36pt;
    color: #F33;
    text-align: center;
}

.page-login .title div, .page-login .title img
{
    display: inline-block;
}

.page-login .title img
{
    height: 36pt;
    margin-bottom: 10px; 
}

.page-login .reset-password
{
    margin-top: 20px;
}

.lead-panel
{
    background-color: #F9F9F9;
    border: 1px solid #777;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

.lead-panel h2
{
    margin-top: 5px;
}

.success
{
    color: green;
    font-weight: bold;
}

.error
{
    color: red;
    font-weight: bold;
}

.inventory-table td
{
    width: 33%;
}

.take-inventory .description
{
    padding: 10px 0;
}

.take-inventory .form-group ul
{
    margin: 0;
    padding: 0 5px;
}

.take-inventory .form-group li
{
    display: inline-block;
    list-style-type: none;
    padding: 0 7px;
}

.take-inventory .form-group li label
{
    font-weight: normal;
}

.take-inventory .answer-codes td
{
    padding: 5px 7px;
}

.take-inventory .answer-codes td.code
{
    font-weight: bold;
}
