/******Navbar******/
html {
    height:100%;
}
body {
    padding-top:70px;
    height:100%;
}
a.navbar-toggle {
    height:34px;
    vertical-align:middle;
    padding-top: 6px !important;
    margin-top:8px !important;
    margin-bottom:8px !important;
    color:grey;
}
.navbar-text {
    margin-right:15px;
    margin-left:15px;
}
a.navbar-toggle:hover {
    color:white;
    cursor:pointer;
}
nav a:hover {
    text-decoration:none;
    cursor:pointer;
}
a.navbar-brand {
    padding:0;
    margin:0;
    margin-left:15px;
}
a.navbar-brand .navbar-text {
    display:inline-block;
    color:rgb(255, 51, 51);
}
img.navbar-logo {
    height:50px;
}
@media (max-width: 768px) {
    .navbar-slide {
        position:fixed;
        right:0%;
        height:100%;
        width:0%;
    }
    nav .collapse {
        display:none;
        width:310px;
    }
}
/******************/

.legend {
    width:auto;
    border:none;
    background:none;
    background-color:none;
    margin:0;
    padding:0;
}

.panel-no-horizontal-padding {
    padding-left:0;
    padding-right:0;
}

.page-login .title
{
    font-size: 36pt;
    color: #F33;
    text-align: center;
}

.page-login .title div, .page-login .title img
{
    display: inline-block;
}

.page-login .title img
{
    height: 36pt;
    margin-bottom: 10px;
}

.page-login .reset-password
{
    margin-top: 20px;
}

.lead-panel
{
    background-color: #F9F9F9;
    border: 1px solid #777;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

.lead-panel h2
{
    margin-top: 5px;
}

.success
{
    color: green;
    font-weight: bold;
}

.error
{
    color: red;
    font-weight: bold;
}

.inventory-table td.name
{
    width: 50%;
}

.inventory-table td.take
{
    width: 20%;
}

.inventory-table td.review
{
    width: 30%;
}

.inventory-table .take, .inventory-table .review
{
    text-align: center;
}

.take-inventory .description
{
    padding: 10px 0;
}

.take-inventory .form-group ul
{
    margin: 0;
    padding: 0 5px;
}

.take-inventory .form-group li
{
    display: inline-block;
    list-style-type: none;
    padding: 0 7px;
}

.take-inventory .form-group li label
{
    font-weight: normal;
}

.take-inventory .answer-codes td
{
    padding: 5px 7px;
}

.take-inventory .answer-codes td.code
{
    font-weight: bold;
}
