{% extends "base.html" %}

{% block title %}
Reset password
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="lead-panel">
                <h2>Reset password</h2>
                {% if success %}
                    <p class="success">
                        Email sent!
                    </p>
                {% endif %}
                <p>
                    Enter the email address you signed up with to reset your password. You will be sent an email with further instructions.</p>
                <form role="form" method="post" action="">
                    {% csrf_token %}		  	
                    
                    {% for field in form %}
                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                            <label class = "control-label"> {{ field.label }} </label>
                            <span class = "form-control-feedback">{{ field.errors }}</span>
                            {{ field }}
                        </div>
                    {% endfor %}
                
                    <button type="submit" class="btn btn-default">Send email</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
