{% extends "base.html" %}

{% block title %}
    {{inventory.name}} - Review
{% endblock %}

{% block content %}
<div class="take-inventory container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="lead-panel">
                <h2>{{inventory.name}} - Results</h2>
                {% if metrics %}
                    {% block review_content %}
                    {% endblock %}                
                {% else %}
                    <p class="error">You haven't taken this inventory.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
