{% extends "base.html" %}

{% block title %}
Reset password
{% endblock %}

{% block content %}
<div class="take-inventory container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="lead-panel">
                <h2>{{inventory.name}}</h2>
                
                <div class="description">
                    {% block description %}
                    {% endblock %}
                </div>
                
                <form role="form" method="post" action="{% url 'register' %}">
                    {% csrf_token %}		  	
                    
                    {% for field in form %}
                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                            <label class = "control-label"> {{ field.label }} </label>
                            <span class = "form-control-feedback"> {{ field.errors }} </span>
                            {{ field }}
                        </div>
                    {% endfor %}
                                          
                    <input type="submit" class="btn btn-default" 
                        value="Submit"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
