{% extends "base.html" %}

{% block title %}
    {{inventory.name}}
{% endblock %}

{% block content %}
<div class="take-inventory container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="lead-panel">
                <h2>{{inventory.name}}</h2>
                
                {% if success %}
                    <p class="success">
                        Your responses have been submitted!
                    </p>
                {% elif already_taken %}
                    <p class="error">
                        You have already taken this inventory.
                    </p>
                {% endif %}
                
                <div class="description">
                    {% block description %}
                    {% endblock %}
                </div>
                
                {% if show_form %}
                    <form role="form" method="post" action="{% url 'take_inventory' inventory.inventory_id %}">
                        {% csrf_token %}		  	
                    
                        {% for field in form %}
                            <div class="form-group {% if field.errors %} has-error {% endif %}">
                                <label class = "control-label"> {{ field.label }} </label>
                                <span class = "form-control-feedback"> {{ field.errors }} </span>
                                {{ field }}
                            </div>
                        {% endfor %}
                                          
                        <input type="submit" class="btn btn-default" 
                            value="Submit"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
