body {
    padding-top:70px;
}

.navbar-centered-text:hover {
    text-decoration:none;
}

.navbar-centered-text {
    height:50px;
    line-height:50px;
}

.navbar-logo-image {
    height:36pt;
}

.navbar-logo-text {
    color:#F33;
}

.page-login .title
{
    font-size: 36pt;
    color: #F33;
    text-align: center;
}

.page-login .title div, .page-login .title img
{
    display: inline-block;
}

.page-login .title img
{
    height: 36pt;
    margin-bottom: 10px; 
}

.page-login .reset-password
{
    margin-top: 20px;
}

.lead-panel
{
    background-color: #F9F9F9;
    border: 1px solid #777;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

.lead-panel h2
{
    margin-top: 5px;
}

.success
{
    color: green;
    font-weight: bold;
}
